<?xml version="1.0"?>
<config>
    <modules>
        <RC_Label>
            <version>0.1.0</version>
        </RC_Label>
    </modules>
    <global>
        <models>
            <rc_label>
                <class>RC_Label_Model</class>
                <resourceModel>rc_label_resource</resourceModel>
            </rc_label>
            <rc_label_resource>
                <class>RC_Label_Model_Resource</class>
                <entities>
                    <label>
                        <table>rc_label</table>
                    </label>
                    <index>
                        <table>rc_label_index</table>
                    </index>
                    <index_tmp>
                        <table>rc_label_index_tmp</table>
                    </index_tmp>
                </entities>
            </rc_label_resource>
        </models>
        <resources>
            <rc_label_setup>
                <setup>
                    <module>RC_Label</module>
                    <class>RC_Label_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rc_label_setup>
            <rc_label_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rc_label_read>
            <rc_label_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rc_label_write>
        </resources>
        <blocks>
            <rc_label>
                <class>RC_Label_Block</class>
            </rc_label>
        </blocks>
        <helpers>
            <rc_label>
                <class>RC_Label_Helper</class>
            </rc_label>
        </helpers>
        <index>
            <indexer>
                <rc_label>
                    <model>rc_label/index</model>
                </rc_label>
             </indexer>
        </index>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <rc_label before="Mage_Adminhtml">RC_Label_Adminhtml</rc_label>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <rc_label module="RC_Label">
                    <file>rc/label.xml</file>
                </rc_label>
            </updates>
        </layout>
        <translate>
            <modules>
                <RC_Label>
                    <files>
                        <default>RC_Label.csv</default>
                    </files>
                </RC_Label>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <rc_label module="RC_Label">
                    <file>rc/label.xml</file>
                </rc_label>
            </updates>
        </layout>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <rc_label>
                        <class>RC_Label_Model_Observer</class>
                        <method>rewriteProductTemplates</method>
                    </rc_label>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
        <translate>
            <modules>
                <RC_Label>
                    <files>
                        <default>RC_Label.csv</default>
                    </files>
                </RC_Label>
            </modules>
        </translate>
    </frontend>
    <default>
        <rc_label>
            <general>
                <auto_render>1</auto_render>
                <render_multiple>1</render_multiple>
                <round_method>round</round_method>
                <default_product_page_width>100</default_product_page_width>
                <default_product_page_height>100</default_product_page_height>
                <default_category_page_width>50</default_category_page_width>
                <default_category_page_height>50</default_category_page_height>
            </general>
        </rc_label>
    </default>
</config>